/* Custom Properties */
:root {
  --header: #2e323f;
  --section: #3b4050;
  --font: #6f737f;
  --white: #ffffff;
  --gold: #a59678;
  --light: #f3eed9;

  --main-font: 'Montserrat', sans-serif;
  --headings: 'Oswald', sans-serif;

  --fw-bold: 700;
  --fw-reg: 400;

  --fs-xsmall: 1.125rem;
  --fs-small: 1.3125rem;
  --fs-reg: 1.5rem;
  --fs-large: 1.875rem;
  --fs-xlarge: 2.25rem;
  --fs-xxl: 5.625rem;
}

/* Reset and base set up */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: var(--main-font);
  font-size: var(--fs-reg);
  font-weight: var(--fw-reg);
  color: var(--font);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3 {
  font-family: var(--headings);
  font-weight: var(--fw-bold);
}

h1 {
  font-size: var(--fs-xxl);
  margin: 0;
  line-height: 1;
}

h2 {
  font-size: var(--fs-xlarge);
}

h3 {
  font-size: var(--fs-large);
}

h2,
h3,
span {
  color: var(--gold);
}

.desktop {
  display: none;
}
.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Sections */

.main__text,
.main__img {
  margin-bottom: 2em;
}

.sidebar__card {
  background-color: var(--section);
  padding: 2em;
  color: var(--white);
  text-align: center;
}

.sidebar__card + .sidebar__card {
  margin-top: 2rem;
}

.sidebar__card p {
  font-size: var(--fs-small);
}

.sidebar__card h3 {
  color: var(--white);
}

/* Sections */
